<% @users.each do |user| %>

<div class="userform <%= user.friends.include?(current_user) ? "friended" : "unfriended" %>">
<form action="<%= user_friendship_url(user.id) %>" method="post">
  <label for="friend"><%= user.username %></label>
  <input type="submit" value="Friend" class="friend">
</form>
<form action="<%= user_friendship_url(user.id) %>">
  <input type="submit" value="Unfriend" class="unfriend">
</form>
</div>
<br>
<% end %>

<p>

<script>
$(".userform").on("click", "input[class='friend']", undefined, function(event){
  event.preventDefault();
  $(this).attr('disabled','disabled');
  $(this).attr('value','Friending...');
  var formData = $(this.form).serialize();
  var that = this;
  $.ajax({
    url: that.form.action,
    type: 'POST',
    data: formData,
    success: function () {
      $(that).attr('value','Friended');
      $(that).closest("div[class='userform unfriended']").toggleClass('friended');
      $(that).closest("div[class='userform unfriended friended']").toggleClass('unfriended');
      $(that).removeAttr('disabled');
      $(that).attr('value','Friend');
    }
  });
}
);
$(".userform").on("click", "input[class='unfriend']", undefined, function(event){
  event.preventDefault();
  $(this).attr('disabled','disabled');
  $(this).attr('value','Unfriending...');
  var formData = $(this.form).serialize();
  var that = this;
  $.ajax({
    url: that.form.action,
    type: 'DELETE',
    data: formData,
    success: function () {
      $(that).attr('value','Unfriended');
      $(that).closest("div[class='userform friended']").toggleClass('unfriended');
      $(that).closest("div[class='userform friended unfriended']").toggleClass('friended');
      $(that).removeAttr('disabled');
      $(that).attr('value','Unfriend');
    }
  });
}
);
</script>