<h1><%= @user.username %></h1>

<%= render "secrets/form" %>

<ul>
  <% @user.received_secrets.reverse.each do |secret| %>
    <li><%= secret.title %></li>
  <% end %>
</ul>

<script>

$(".newsecret").on("click", "input[type='submit']", function(event) {
  event.preventDefault();
  var formData = $(this.form).serialize();
  var that = this;
  $.ajax({
    url: that.form.action,
    type: "POST",
    data: formData,
    success: function() {
      var secretFormTitle = $(that).siblings("input[type='text']");
      $("ul").prepend("<li>" + secretFormTitle.val() + "</li>");
      secretFormTitle.val('')
    }
  })
}


)



</script>