<h1><%= @user.username %></h1>

<%= render partial: "secrets/form", locals: {tags: @tags} %>

<ul>
  <% @user.received_secrets.reverse.each do |secret| %>
    <li><%= secret.title %></li>
  <% end %>
</ul>

<script>

$(".newsecret").on("click", "input[class='creation']", function(event) {
  event.preventDefault();
  var formData = $(this.form).serialize();
  var that = this;
  $.ajax({
    url: that.form.action,
    type: "POST",
    data: formData,
    success: function() {
      var secretFormTitle = $(that).siblings("input[type='text']");
      $("ul").prepend("<li style='display:none'>" + secretFormTitle.val() + "</li>");
      $("ul li").slideDown();
      secretFormTitle.val('')
    }
  });
});



</script>