<script type="application/json" id="alltags">
  <%= tags.to_json.html_safe %>
</script>

<form class="newsecret" action="<%= user_secrets_url(@user.id) %>">

  <input type="text" name="secret[title]">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" class="creation" value="Create Secret">

  <div id="insert_select_template">
    <button class="addtag">Add More Tags!</button>
  </div>

</form>


<script type="text/template" id="add_select_template">
  <select name="secret[tag_ids][]" class = "something">
  <%% for (var i = 0; i < info.length; i++) { %>
    <option value="<%%=info[i].id%>"><%%=info[i].title%></option>
    <%% } %>

  </select>
</script>

<script>
//jquery

var templateCode = $("#add_select_template").html()
var templateFn = _.template(templateCode)
console.log(templateFn);
var bootTags = JSON.parse($("#alltags").html())
var info = bootTags.map(function(tag){return {title: tag.title, id: tag.id}});
var newHTML = templateFn({info: info});
console.log(newHTML)

$(document).ready(function(){
  $("#insert_select_template").prepend(newHTML);
});

console.log(newHTML);
$(".addtag").click(function(event){
  event.preventDefault();
  $("#insert_select_template").append(newHTML)
})

</script>