<form class="newsecret" action="<%= user_secrets_url(@user.id) %>" method="post">

  <input type="text" name="secret[title]">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Create Secret">

</form>