<!DOCTYPE html>
<html>
<head>
  <style type="text/css">

  .hidden{
    visibility: hidden;
  }

  </style>
  <title>AjaxDemo</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<% if current_user %>
<%= current_user.username %>
<% end %>

<body>
  <%= yield %>
</body>
</html>
